* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aileron", sans-serif;
  }
  
  :root {
    --heading-font: "Aileron", sans-serif;
    --body-font: "Inter", sans-serif;
    --primary-color: #A30A24;
    --gray-900: #191919;
    --gray-800: #808080;
    --gray-700: #6e6e6e;
    --gray-600: #e8e8e8;
    --gray-500: #b3b3b3;
    --gray-400: #cacaca;
    --gray-300: #e1e1e1;
    --gray-200: #eaeaea;
    --gray-100: #f5f5f5;
    --gray-75: #fafafa;
    --gray-50: #f2f2f2;
    --white: #ffffff;
  }

  /* html {
    font-size: 62.5%;
  } */
  
  .calendar-container {
    width: 100%;
    height: 100vh;
    color: var(--gray-900);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar {
    width: 45rem;
    height: 52rem;
    border: solid 1px rgba(0, 0, 0, 0.1);
  }
  
  .month {
    width: 100%;
    height: 12rem;
    background-color: var(--primary-color);
    color: var(--gray-50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    /* margin-bottom: 1rem; */
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  .days button {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    background-color: #FFF;
    border: none;
  }
  
  .days button:hover:not(#today, .prev-date, .ne) {
    border: 0.2rem solid #777;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  #today {
    background-color: var(--primary-color);
    color: var(--gray-50);
    cursor: pointer;
  }

  .schedule {
    width: 25rem;
    height: 52rem;
    border: solid 1px rgba(0, 0, 0, 0.1);
  }

  .schedule-title {
    text-align: center;
    padding: 1rem 0;
  }